Source: python-rayopt
Section: python
Priority: optional
Maintainer: Robert Jordens <jordens@phys.ethz.ch>
Build-Depends: cdbs (>= 0.4.90~),
 python (>= 2.6.6-3~),
 python-setuptools,
 debhelper (>= 5)
XS-Python-Version: >=2.5
Standards-Version: 3.9.3

Package: python-rayopt
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-chaco, python-traitsui, python-traits,
 python-numpy
Provides: ${python:Provides}
Description: Raytracing toolkit for imaging systems
